.button-container {
  display: flex;
  justify-content: center;
  }

  #continue-btn {
    background-color: #65A8CF;
    color: white;
    border: none;
    padding: 20px 40px; 
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s;
  }
  
  #continue-btn:hover {
    background-color: #65a8cf9b;
    transform: scale(1.2);
  }