$font: "Signika", sans-serif;
$header: "Poetsen One", sans-serif;
$text-color: #78B3D5;
$bckg-color: #65A8CF;
$white: #ffffff;
$darkerWhite: #f0f0f0;

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    justify-content: $content;
    align-items: $align;
    flex-direction: $direction;
  }

.swiper {
    margin-bottom: 50px;
    .swiper-button-prev, .swiper-button-next{
        color: #65A8CF;
    }
}
  .bestSeller {
    height: 100%;
    width: 95%;

  }

  .slide{
    padding: 15px;
    height: 450px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    }
    .image {
     max-width: 100%;
    height: auto;
    }

    .brand-icon{
        @include flexCenter(row,space-between, center);
        color: $text-color;
        h3 {
            font-size: 1.5rem;
        }
        .icon {
            height: 20px;
            width: 20px;
        }
    }
    .product-price {
        font-size: 1.3rem;
        color: $text-color;
    }
    .description {
        font-size: 1.2rem;
        max-width: 75vmin;
    } 